<div class="registerLoginDiv">
	<img src="app/img/keydepot-logo.svg"  />
	<form>
		<div style="display: inline-block; color:white;">
			<h1 class="loginHead">Login</h1><br />
			<input type="email" placeholder="Email" required><br />
			<div style="position: relative;padding-bottom: 20px;padding-top: 20px">
				<input type="password" placeholder="Masterpasswort eingeben" required><br />
			</div>
			<button class="btn btn-primary button orangeButton" type="submit" (click)="submitLogin()">login</button>
			<!--<a class="link"><button class="btn btn-primary" (click)="enableDisableTwoFactor()" id="twoFactorButton">Two factor</button></a>-->
		</div>
	</form>

</div>

